table.clinic td.clinic-first {
	bgcolor: lightgreen;
	color: darkgreen;
	font-size: 16pt;
	text-align: center;
}

table.clinic th {
	bgcolor: darkgreen;
	color: white;
}

table.clinic tr {
	bgcolor: lightgrey;
	color: black;
}

.clinic-header {
	background-color: lightgreen;
}